@font-face {
  font-family: NotoColorEmoji;
  src: url(/webfonts/NotoColorEmoji.ttf) format(truetype);
}

:root{
  --pred: #eb1b25;
  --pgreen: #14a25f;
  --pblue: #18479b;
}

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: sans-serif, NotoColorEmoji;
  font-size: larger;
}

canvas {
  max-width: 100%;
  width: 100vw;
  min-width: 100%;
  max-height: 100%;
  height: 100vh;
  min-height: 100%;
}
canvas.no-smoothing{
  image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;          /* Firefox                        */
  image-rendering: -o-crisp-edges;            /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated;                 /* Chrome                         */
  image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

small{
  font-size: 75%;
}


hr{
  border: 1px solid rgba(0, 0, 0, .1);
}


input[type="checkbox"]{
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 36px;
  min-width: 36px;
  max-width: 36px;
  height: 20px;
  padding: 2px;
  margin: 2px;
  background: #aaaaaa;
  border-radius: 18px;
  cursor: pointer;
  outline: none;
  transition: background .25s;
}
input[type="checkbox"]:checked{
  background: white;
}
input[type="checkbox"]::after{
  content: "";
  position: absolute;
  background-color: black;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  transform: translateX(0);
  transition: transform .25s;
}
input[type="checkbox"]:checked::after{
  transform: translateX(100%);
}

.custom-select{
  cursor: pointer;
}
.custom-select > select{
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  pointer-events: none;
  border: 0;
  background: rgba(0, 0, 0, .25);
  padding: 4px;
  padding-right: 20px;
  color: white;
}
.custom-select::after{
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0d7";
  padding: 2px;
  margin-left: -18px;
  pointer-events: none;
}
.custom-select-chooser{
  min-width: 75%;
  max-width: 100%;
  background-color: var(--pgreen);
  color: white;
  border: 2px solid rgba(0, 0, 0, .25);
  border-radius: 8px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.custom-select-chooser > li{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 16px 8px;
  margin: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  cursor: pointer;
  color: #dfdfdf;
  transition: color .25s;
}
.custom-select-chooser > li.active,
.custom-select-chooser > li:hover,
.custom-select-chooser > li:focus{
  color: white;
}
.custom-select-chooser > li:last-child{
  border: 0;
}
.custom-select-chooser > li::before{
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 16px 0 8px;
  border: 2.5px solid currentColor;
  border-radius: 100%;
  background-color: transparent;
  transition: background-color .25s;
}
.custom-select-chooser > li.active::before{
  background-color: currentColor;
}

/***************/

.gui,.overlay{
  position: absolute;
  z-index: 1000;
}
.gui{
  pointer-events: auto !important;
  max-height: 100%;
  overflow-y: auto;
  padding: 8px 0;
}
.gui-bg{
  background: var(--pgreen);
}
.overlay{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.overlay-bg{
  background: rgba(0, 0, 0, .75);
}

.paragraph, p{
  margin-bottom: 12px;
}
.text-white{
  color: white;
}
.text-gray, small{
  color: #eeeeee;
}
.text-small{
  font-size: smaller;
}
.text-big{
  font-size: 150%;
}
.text-center{
  text-align: center;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/***************/

.menu,.menu-settings,.flex-column,.flex-between,.flex-around{
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.flex-between{
  justify-content: space-between;
}
.flex-around{
  justify-content: space-around;
}

.menu,.menu-settings{
  max-width: 500px;
  width: 100%;
  margin: auto;
}

.menu > *, .btn{
  color: white;
  width: calc(100% - 4px);
  padding: 16px;
  margin: 2px 0;
  background: rgba(0, 0, 0, .1);
  cursor: pointer;
  transition: background .25s;
}

.btn-major{
  padding: 22px;
  font-size: 125%;
}

.btn-minor{
  padding: 14px;
  font-size: 75%;
}

.menu > *:hover, .menu > *:focus, .btn:hover, .btn:focus{
  background: rgba(0, 0, 0, .2);
}

.menu-settings > *{
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.menu-settings > * > label{
  padding: 6px;
  text-align: left;
}

.submenu{
  margin: 4px;
  margin-left: 8px;
  max-width: calc(100% - 12px);
  padding: 4px;
  padding-left: 16px;
  background-color: rgba(0, 0, 0, .2);
  width: 100%;
}

/***************/

#menu-main{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#fps-counter{
  z-index: 1 !important;
}

#overlay-stats{
  text-align: left;
  font-weight: bold;
  color: white;
  text-shadow: 0 0 2px black;
  top: unset;
  bottom: 0;
  height: unset;
}

/***************/

.countdown-number{
  font-size: 88px;
  font-weight: bold;
  color: white;
  text-shadow: 0 0 6px black, 0 0 16px var(--pgreen);
  transform: scale(1);
  animation: .5s ease-in-out 0s both 1 countdown-number;
}

@keyframes countdown-number {
  from{ transform: scale(1); }
  to  { transform: scale(0.1); }
}

/***************/

#menu-main-leaderboard{
  width: 100%;
  font-size: 18px;
  border: 0;
}

#menu-main-leaderboard td{
  padding: 0;
  margin: 0;
  border: 0;
}

#menu-main-leaderboard tr.separate td{
  padding-top: 2px;
  border-top: 1px solid rgba(0, 0, 0, .1);
}

#menu-main-leaderboard tr:nth-last-child(2) td{
  padding-bottom: 2px;
}

#menu-main-leaderboard img{
  width: 24px;
  height: auto;
  border-radius: 100%;
}
