/*
 * SSPurkyňka
 * style.css
 *
 */
 
/*===============*/
/* SUPERGLOBALS  */
/*===============*/
@font-face {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  src: url(webfonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto;
  font-weight: 900;
  font-style: normal;
  src: url(webfonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto;
  font-weight: 200;
  font-style: normal;
  src: url(webfonts/Roboto-Thin.ttf);
}


*{
    font-family: Roboto, Helvetica, Arial, Sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    /* Purkynka color scheme */
    --red: #eb1b25;
    --green: #14a25f;
    --blue: #18479b;
    
    /* Custom colors */
    --light: #e1e1e1;
    
    --lightBlue: #4e82de;
    --darkishBlue: #091b47;
    --darkBlue: #09152d;
    --darkerBlue: #091523;
}


/*===============*/
/*=== GLOBALS ===*/
/*===============*/

body{
    background-color: var(--darkBlue);
    color: var(--light);
    font-size: large;
}

ul.nostyle{
    list-style-type: none;
}

.big{
    font-size: larger;
}

.d-none{
    display: none;
}


/*===============*/
/*= NAVBAR/NAV = */
/*===============*/

#navbar-wrap{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
    z-index: 1000;
}

nav#navbar{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    
    width: 100%;
    
    color: var(--light);
    transition: .5s;
}

nav#navbar.scrolled, nav#navbar.expanded{
    background-color: var(--darkishBlue);
}

nav#navbar .navbar-toggler{
    display: none;
    font-size: 32px;
    align-items: center;
    padding: 16px;
    background: none;
    border: none;
    cursor: pointer;
}

nav#navbar .navbar-brand{
    margin: 0 10px 0 16px;
    padding: 8px;
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 32px;
    font-family: Roboto;
    font-weight: normal;
}

nav#navbar .navbar-brand span{
    order: 1;
}

nav#navbar .navbar-brand img{
    height: 48px;
    margin: 8px 18px;
    width: auto;
    order: 0;
}

nav#navbar .nav{
    display: flex;
    margin-right: 32px;
    height: 100%;
}

nav#navbar .nav > li > a{
    padding: 16px 64px;
    font-size: 24px;
    height: 100%;

    align-items: center;
}

nav#navbar .nav > li > a, .dropdown-menu > li > a{
    display: flex;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
    opacity: .6;
    transition: opacity .25s;
}

nav#navbar .nav > li > a:hover, .dropdown-menu > li > a:hover{
    opacity: .85;
}

nav#navbar .nav > li > a:active, nav#navbar .nav > li > a.active, .dropdown-menu > li > a:active, .dropdown-menu > li > a.active{
    opacity: .75;
    color: #fff;
}

.dropdown{
    position: relative;
}

.dropdown-toggle::after{
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f0d7"; margin-left: 0.5em;
}

.dropdown-menu{
    display: none;
    position: absolute;
    left: 0;
    min-width: 100%;
    transition: background-color .5s;
}

.dropdown-menu > li > a{
    font-size: 18px;
    padding: 8px 24px;
}

nav#navbar.scrolled .dropdown-menu, nav#navbar.expanded .dropdown-menu{
    background-color: var(--darkerBlue);
}


@media screen and (max-width: 768px) {
    nav#navbar{
        flex-wrap: wrap;
    }
    nav#navbar .navbar-toggler{
        display: flex;
    }
    
    nav#navbar .navbar-brand{
        font-size: 18px;
        margin: 0;
    }
    
    nav#navbar .navbar-brand img{
        order: 1;
        margin: 8px;
        height: 32px;
    }

    nav#navbar .navbar-brand span{
        order: 0;
    }
    
    #nav-wrap{
        display: none;
        width: 100%;
        flex-basis: 100%;
    }
    
    nav#navbar .nav{
        flex-flow: column;
        margin: 0;
    }
    
    .dropdown{
        display: flex;
        flex-flow: column;
    }
    
    .dropdown-menu{
        position: static;
    }
}

/*===============*/
/*=== HEADER === */
/*===============*/

#welcome{
    width: 100%;
    height: 100vh;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#welcome-bg{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: var(--blue);
    z-index: -1;
}

#welcome-bg img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    background-color: var(--darkBlue);
    opacity: .75;
}

#welcome-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light);
}

#welcome-logo .text{
    width: 50vw;
    max-width: 50vw;
    text-align: right;
}

#welcome-logo .text *{
    width: 50vw;
}

#welcome-logo p{
    margin: 24px 0 0;
}

#welcome-logo h1{
    font-size: 64px;
}

#welcome-logo img{
    height: 356px;
    margin: 64px;
}

#welcome-contacts{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 48px;
    padding: 16px 64px;
}

#welcome-contacts a{
    color: var(--light);
    opacity: .5;
    transition: opacity .5s;
}

#welcome-contacts a:hover{
    color: var(--light);
    opacity: .75;
}

#welcome-scrolldown{
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    font-size: 48px;
}


@media screen and (max-width: 768px) {
    #welcome-bg img{
        opacity: .9;
    }
    
    #welcome-logo{
        flex-flow: column;
    }
    #welcome-logo .text{
        width: auto;
        max-width: 100vw;
        text-align: center;
        order: 1;
    }
    #welcome-logo .text *{
        width: 100%;
    }
    #welcome-logo h1{
        font-size: 32px;
    }
    #welcome-logo img{
        height: auto;
        width: 100%;
        max-width: 256px;
        object-fit: contain;
        margin: 0;
        padding: 32px;
        order: 0;
    }
    
    #welcome-contacts{
        width: 100%;
        text-align: center;
        padding: 8px;
    }
    
    #welcome-scrolldown{
        display: none !important;
    }
}

/*===============*/
/*=== PRIMARY ===*/
/*===============*/

#primary{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: var(--darkBlue);
}

main{
    max-width: 1280px;
}

.article p{
    text-align: justify;
}

