@font-face {
  font-family: "Noto Color Emoji";
  src: url("../webfonts/NotoColorEmoji.ttf") format("truetype");
}

@font-face {
  font-family: "Lemon Tuesday";
  src: url("../webfonts/LemonTuesday.otf") format("opentype");
}

/*************/

body{
  background:white;
  font-family: -apple-system, Roboto, Helvetica, Arial, BlinkMacSystemFont,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol", "Noto Color Emoji";
}

*{
  box-sizing: border-box;
}

h1,h2{
  font-family: "Lemon Tuesday";
}

/*************/

button{
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-size: 20px;
  font-weight: bold;
  padding: 14px 16px;
  min-width: 96px;
  border: none;
  border-radius: 8px;
  background-color: #11ff44;
  color: black;
  cursor: pointer;
  margin: 2px;
  text-align: left;
}

button.gray{
  background-color: #88888f;
}

/*************/

.layer{
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.canvas{
  width: 100%;
  height: 100%;
}

.overlay{
  z-index: 100;
  width: 100%;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
  background: rgba(0,0,0, .75);
  color: white;
}

/*************/

.clickable{
  pointer-events: auto;
}
.unclickable{
  pointer-events: none;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.row{
  display: flex;
  flex-flow: row wrap;
  max-width: 100%;
}

.row > *{
  flex: auto;
}

/*************/

#game{
  z-index: 0;
}

#game-stats{
  z-index: 10 !important;
}

#gameOverlay{
  background: none;
  pointer-events: none;
  color: black;
  z-index: 15;
}

#gameOverlay-stat{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px;
  font-size: 22px;
}

#gameOverlay-close{
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
  font-size: 24px;
}

/*************/

#mainMenu{
  background: yellow url('../img/duckception.png');
  background-size: cover;
  color: white;
  text-align: center;
  padding: 16px;
  width: 100%;
  height: 100%;
}

#mainMenu-menu > *{
  font-size: 22px;
  padding: 14px 16px;
  margin: 2px;
  text-align: left;
  cursor: pointer;
  color: white;
}

#mainMenu-panel #playerPreview{
  border-radius: 16px;
  max-width: 100%;
  max-height: 100%;
  padding: 16px;
}

#mainMenu-panel #playerPreview > img{
  width: auto;
  height: 64px;
  object-fit: contain;
}
