:root{box-sizing:border-box}body{margin:0;width:100%;height:100%;overflow:hidden}canvas{width:100vw;height:100vh}#overlay{position:absolute;top:0;right:0;bottom:0;left:0;pointer-events:none}#overlay>*{pointer-events:auto}
