body,html{
  scroll-behavior: smooth;
}

body{
  margin: 0; padding: 0;
  background: black;
  color: white;
  max-width: 100vw;
  max-height: 100%;
  font-family: sans-serif;
  font-size: large;
}

*{
  box-sizing: border-box;
}


body > main{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;

  section{
    width: 50%;
    height: 75%;
    padding: 8px;

    &#toppane{
      width: 100%;
      height: 25%;
    }
  }
}

#snake-viewport{
  display: flex;
  flex-direction: column-reverse;

  .snake-row{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    margin: 2px;

    .snake-cell{
      width: 100%;
      height: 100%;
      margin: 2px;
      background-color: #1c1c1c;
      box-shadow: 0 0 6px black;
      transition: background-color .3s, box-shadow .5s;

      &.food{
        background-color: red;
        box-shadow: 0 0 6px red;
      }
      &.head{
        background-color: yellow;
        box-shadow: 0 0 6px yellow;
      }
      &.snake{
        background-color: white;
        box-shadow: 0 0 6px white;
      }
    }
  }

  &.died .snake-cell{
    background-color: #0f0f0f !important;
    box-shadow: 0 0 0 black !important;
  }
}


.statTable{
  tr{
    padding: 4px;

    td:first-child{
      font-weight: bold;
      padding-right: 8px;
    }
  }
}

#nn-render{
  width: 100%;
  height: 100%;

  svg{
    .nn-node{
      stroke: white;
      transition: fill .05s;
    }
    text{
      fill: white;
      transition: fill .05s;

      &.highlight{
        fill: yellow;
      }

      &.node-value{
        font-size: smaller;
        font-family: monospace;
      }
    }
    .nn-node-connection{
      stroke: OrangeRed;
      z-index: 1;

      &.negative{
        stroke: DodgerBlue;
      }
    }
  }
}
