:root{
  --contentBlue: #00123E;
  --easyWhite: #EFEFEF;
  --grayish: #babdb6;
  --lightBlue: #18479B;
  --linkBlue: #00B1FF;
  --darkBlue: #09152D;
  --tableBlue: #001C60;
  --facebook: #EFEFEF;
  --twitter: #1DA1F2;
  --googleplus: #DD4B39;
  /* Purkynka color scheme */
  --pred: #eb1b25;
  --pgreen: #14a25f;
  --pblue: #18479b;
}

@font-face {
  font-family: Roboto;
  font-weight: 200;
  font-style: normal;
  src: url(../webfonts/Roboto-Thin.ttf);
}

@font-face {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  src: url(../webfonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  src: url(../webfonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: Roboto;
  font-weight: 900;
  font-style: normal;
  src: url(../webfonts/Roboto-Bold.ttf);
}


*{
  font-family: Roboto, Helvetica, Arial, Sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/****************/

body{
  scroll-behavior: smooth;    
  font-family: Roboto, Helvetica, Arial, Sans-serif;
  color: var(--easyWhite);
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}


.dropdown-toggle::after{
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f0d7"; margin-left: 0.5em;
}
.d-none{
    display: none;
}
.list-nostyle{
    list-style-type: none;
}
.weblink{
  color: var(--linkBlue);
  text-decoration: underline;
}
.flex-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}

/****************/
header#header{
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/****************/
#mainnav-wrap{
  height: 80px;
  width: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

nav#mainnav{
  position: fixed;
  z-index: 1020;
  top: 0;
  left: 0;
  padding: 0 20px;
  min-height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  transition: background-color .25s;
}

nav#mainnav.scrolled, nav#mainnav.expanded, nav#mainnav.droppeddown{
  background-color: var(--darkBlue);
}

nav#mainnav .navbar-toggler{
  display: none;
  font-size: 32px;
  align-items: center;
  padding: 16px;
  height: 80px;
  background: none;
  border: none;
  cursor: pointer;
}
nav#mainnav .navbar-toggler i{
  pointer-events: none;
}

#nav-brand{
  padding: 16px;
  display: flex;
  align-items: center;
  color: var(--easyWhite);
  font-weight: 400;
  font-size: 32px;
  text-decoration: none;
}

#main-logo{
  margin: 0;
  margin-right: 18px;
  width: auto;
  height: 48px;
}

nav#mainnav .nav{
  display: flex;
  list-style-type: none;
  height: 100%;
}
nav#mainnav .nav > li > a{
  display: flex;
  height: 100%;
  align-items: center;
  padding: 8px 16px;
  font-size: 24px;
  font-weight: 400;
  color: var(--grayish);
  transition: color .25s;
  text-decoration: none;
}

nav#mainnav .nav .fas, nav#mainnav .nav .far, .contact-icons *{
  font-size: 20px;
  margin-right: 6px;
}

nav#mainnav .nav > li > a:hover{
  color: white;
}

.dropdown{
  position: relative;
}

.dropdown-toggle::after{
  font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f0d7"; margin-left: 0.5em;
}

.dropdown-menu{
  display: none;
  position: absolute;
  left: 0;
  min-width: 100%;
  transition: background-color .5s;
}

.dropdown-menu > li > a{
    font-size: 18px;
    padding: 8px 24px;
}

@media screen and (max-width: 768px) {
  #mainnav-wrap{
    justify-content: flex-end;
  }
  nav#mainnav{
    flex-wrap: wrap;
    padding: 0;
  }
  
  nav#mainnav .navbar-toggler{
    display: flex;
  }
  
  nav#mainnav .nav{
    flex-direction: column;
    margin: 0;
  }
  
  #nav-brand{
    font-size: 18px;
    padding: 8px;
  }

  #main-logo{
    order: 1;
    margin: 8px;
    height: 32px;
  }
  
  #nav-wrap{
    display: none;
    width: 100%;
    flex-basis: 100%;
  }
    
  .dropdown{
    display: flex;
    flex-flow: column;
  }
  
  .dropdown-menu{
    position: static;
  }
}

/****************/
#mainInfo{
  font-weight: 400;
  margin-top: 8px;
  font-size: 16px;
  color: var(--easyWhite);
  text-align: center;
}
#mainInfo span{
  padding: 0 20px;
}

#mainInfo span:nth-child(2){
  border-right: 1px solid var(--easyWhite);
  border-left: 1px solid var(--easyWhite);
}

@media screen and (max-width: 768px) {
  #mainInfo{
    position: absolute;
    bottom: -24px;
    left: 0;
    width: 100%;
  }
  #mainInfo span{
    padding: 0 4px;
  }
}

/****************/
.contact-icons{
  display: flex;
  flex-wrap: nowrap;
  margin-right: 5.5px;
  font-size: 15px;
}
.contact-icons .fa-map-marker-alt{
  font-size: 16px !important;
}
.contact-icons .fa-phone{
  margin: 10px 0 0 -10px;
  font-size: 18px !important;
}

/****************/
#mainHeadline{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
  flex-grow: 1;
}

#headline-background{
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
}

#mainHeadline-text{
  color: var(--easyWhite);
  text-align: right;
  font-family: Roboto;
  font-weight: 400;
  max-width: 50vw;
}
#mainHeadline h1{
  font-size: 64px;
  margin: 0;
}
#mainHeadline p{
  font-size: 24px;
  margin-top: 20px;
}
#mainHeadline-logo{
  width: auto;
  height: 312px;
  margin: 64px;
}

#mainHeadline-scrolldown{
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    font-size: 48px;
    opacity: .5;
}

@media screen and (max-width: 768px) {
  #mainHeadline{
    flex-direction: column;
  }
  #mainHeadline-text{
    order: 1;
    max-width: 100vw;
    text-align: center;
  }
  #mainHeadline-logo{
    order: 0;
    height: auto;
    width: 75vw;
    margin: 8px;
  }
  #mainHeadline h1{
    font-size: 32px;
    margin: 0;
  }
  #mainHeadline p{
    font-size: 16px;
    margin-top: 4px;
  }
}

/****************/
#bottomHeader-content{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #000;
  border-bottom: 2px solid var(--easyWhite);
  /*opacity: .5;*/
}
#grants{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}
#grants *{
  width: auto;
  height: 120px;
  margin: 4px 8px;
}

#social-media{
  position: relative;
  display: flex;
  flex-direction: row;
  font-size: 40px;
}
#social-media a{
  margin: 0 15px;
}
#fb-logo{
  color: var(--facebook);
}
#tw-logo{
  color: var(--twitter);
}
#gp-logo{
  color: var(--googleplus);
}

@media screen and (max-width: 768px) {
  #grants{
    justify-content: center;
  }
  #grants *{
    height: 48px;
    margin: 2px;
  }
  #social-media{
    width: 100%;
    justify-content: space-around;
  }
}

/****************/
#majorMenu .nav{
  width: 100%;
  background: var(--darkBlue);
  border-top: 2px solid var(--easyWhite);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  padding: 8px 8px 16px;
}

.majorMenu-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 30px;
  text-decoration: none;
  color: var(--easyWhite);
  transition: .3s;
  text-align: center;
}
.majorMenu-icon{
  font-size: 28px;
  width: 72px;
  height: 72px;
  transition: .3s;
  border-radius: 50%;
  position: relative;
  margin: 0 auto 8px;
}
.majorMenu-icon::before{
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: absolute;
  border: 2px solid var(--easyWhite);
  border-radius: inherit;
}

.majorMenu-icon-stack{
  display: flex;
  align-items: center;
  justify-content: center;
}

.majorMenu-icon .contact-icons{
  margin: 0;
  display: inline-flex;
}

.majorMenu-item:hover .majorMenu-icon{
  color: var(--darkBlue);
  background: var(--easyWhite);
}

@media screen and (max-width: 768px) {
  #majorMenu .nav{
    justify-content: space-evenly;
  }
  .majorMenu-item{
    margin: 12px;
  }
}

/****************/
#minorMenu .nav{
  background: var(--pblue);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
#minorMenu a{
  display: block;
  color: var(--easyWhite);
  padding: 8px 30px;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (max-width: 768px) {
  #minorMenu li, #minorMenu a{
    width: 100%;
  }
}


/****************/
#page-content{
  background: var(--darkBlue);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#page-content > *{
  max-width: 1700px;
  width: 100%;
}
.partHeadline{
  font-size: 32px;
  text-transform: uppercase;
  color: var(--easyWhite);
  width: 100%;
  border-bottom: 4px solid var(--easyWhite);
  padding: 2px 8px;
}

@media screen and (max-width: 768px) {
  .partHeadline{
    font-size: 24px;
  }
}

/****************/
#coursesGraduation-container{
  max-width: 1700px;
  margin: 16px 0;
}

#courses-graduation{
  background-color: var(--contentBlue);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  margin: 10px auto;
  padding: 0 10px;
}
.course-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  min-height: 260px;
  min-width: 260px;
  margin: 20px 10px;
  padding: 8px;
  transition: .2s;
  text-decoration: none;
}
/*.course-info:hover{
  border: 2px solid var(--easyWhite);
  transition: .3s;
}*/
.course-icon{
  color: var(--easyWhite);
  font-size: 60px;
  margin: 0 auto 10px auto;
}
.course-name{
  color: var(--easyWhite);
  font-family: Roboto;
  font-weight: 900;
  font-size: 20px;
  max-width: 190px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
}
.course-number{
  font-family: Roboto;
  font-size: 14px;
  color: var(--easyWhite);
  margin: 0 auto;
  text-align: center;
}
#course-IT{
  background-color: #18479B;
}
#course-IT:hover{
  background-color: #13397C;
}
#course-E{
  background-color: #EB1B25;
}
#course-E:hover{
  background-color: #87161C;
}
#course-ME{
  background-color: #710C08;
}
#course-ME:hover{
  background-color: #490705;
}
#course-EP{
  background-color: #139E5D;
}
#course-EP:hover{
  background-color: #0A7241;
}
#course-SC{
  background-color: #014618;
}
#course-SC:hover{
  background-color: #00230B;
}
#course-PE{
  background-color: #419219;
}
#course-PE:hover{
  background-color: #347513;
}
#coursesLearning-container{
  max-width: 580px;
  min-width: 280px;
  margin: 10px auto 10px 0;
}
#courses-learning{
  background-color: var(--contentBlue);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 15px auto;
  padding: 0 10px;
}
#course-El{
  background-color: #C99810;
}
#course-El:hover{
  background-color: #B0891D;
}
#course-M{
  background-color: #000000;
}
#course-M:hover{
  background-color: #080808;
}
#examsInfo-container{
  max-width: 1080px;
  margin: 10px 0 10px auto;
}
#exams-info{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--contentBlue);
  padding: 25px 20px;
  margin: 15px auto;
  min-height: 250px;
}
.exams-article{
  max-width: 450px;
  margin: 0 30px;
  font-family: Roboto;
  font-size: 20px;
  color: var(--easyWhite);
  text-align: justify;
}

@media screen and (max-width: 768px) {
  #coursesGraduation-container{
    margin: 16px 0 0;
  }
  .course-info{
    min-height: 128px;
    min-width: 128px;
    width: calc(50% - 16px);
    margin: 0 8px 16px;
  }
  .course-icon{
    font-size: 32px;
  }
  .course-name{
    font-size: 14px;
  }
  .exams-article{
    max-width: unset;
    margin: 0;
  }
}

/****************/

#articles-container{
  max-width: 1200px;
}

#articles-container article{
  background-color: var(--contentBlue);
  margin: 15px 0;
  padding: 30px 35px;
  display: flex;
  align-items: flex-start;
}

.article-content{
  color: var(--easyWhite);
  margin-left: 260px;
}

.article-head{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 2px solid var(--easyWhite);
  margin-bottom: 8px;
  position: relative;
}

.article-image{
  width: 240px;
  height: auto;
  border: 2px solid var(--easyWhite);
  flex-shrink: 0;
  margin: 0 auto;
  float: left;
  order: 0;
  position: absolute;
  left: -260px;
}
.article-defaultImage{
  border: 0;
  padding: 0 25px;
}

.article-headline{
  font-size: 24px;
}

.article-date{
  font-size: 18px;
}

.article-text{
  font-size: 18px;
  text-align: justify;
}
.article-readMore{
  color: var(--linkBlue);
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  #articles-container article{
    flex-direction: column;
    padding: 16px;
  }
  .article-content{
    margin: 16px 0 0;
  }
  .article-head{
    margin-bottom: 180px;
    flex-direction: column;
  }
  .article-headline{
    margin-bottom: 8px;
  }
  .article-image, .article-defaultImage{
    width: auto;
    height: 160px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -170px;
  }
}

/****************/
#sidebar-container{
  max-width: 400px;
}
#sidebar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--contentBlue);
  padding: 16px;
  margin: 15px auto;
}
.sidebar-text{
  color: var(--easyWhite);
  font-family: Roboto;
  font-size: 20px;
  margin: 30px 0;
}
.sidebar-line{
  width: 100%;
  color: var(--easyWhite);
  opacity: .25;
}

/****************/
#school-projects{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  background-color: var(--contentBlue);
  padding: 16px 0;
  width: 100%;
}

#school-projects a{
  display: block;
}

#school-projects img{
  height: 90px;
  width: auto;
  padding: 8px;
}

@media screen and (max-width: 768px) {
  #school-projects li, #school-projects a{
    width: 100%;
    max-width: 100%;
    margin: 0;
  }
  #school-projects img{
    height: auto;
    width: 100%;
    object-fit: contain;
  }
}

